@model BitCalculator.Web.Models.CalculatorViewModel

@{ 
    ViewBag.Title = "Bit Calculator";
}

<h3 class="modal-content text-center">@ViewBag.Title</h3>

@using (@Ajax.BeginForm("Calculate",null, new AjaxOptions
{
    UpdateTargetId = "result",
    InsertionMode = InsertionMode.Replace
}, new
{
    @class="col-md-6"
}))
{
    <div class="form-group">
        <h3>Quantity:</h3>
        @Html.Kendo().NumericTextBoxFor(m => m.Quantity).Min(1).Value(Model.Quantity).Spinners(true).Events(e => e.Change("postForm").Spin("postForm"))
    </div>
    <div class="form-group">
        <h3>Type:</h3>
        @Html.Kendo().DropDownListFor(m => m.Type).BindTo(Model.Units.Select(u=> new { text=u.Type + " - " + u.Symbol, value=u.Type })).DataTextField("text").DataValueField("value").Value(Model.Type).Events(e => e.Change("postForm"))
    </div>
    <div class="form-group">
        <h3>Kilo:</h3>
        @Html.Kendo().DropDownListFor(m => m.Kilo).BindTo(Model.KilosList).Value(Model.Kilo.ToString()).Events(e => e.Change("postForm"))
    </div>

    <div class="form-group">
        <h3>Kilo:</h3>
        @Html.Kendo().Button().Name("SubmitBtn").Content("Calculate").Events(e => e.Click("postForm"))
    </div>

}
<div id="result" class="col-md-6">
    @if (!this.Request.IsAjaxRequest())
    {
        @Html.Action("ResultsView", Model)
    }
</div>
@section scripts {
    <script>
        function postForm(e) {
            e.preventDefault();
            $.ajax({
                url: "/Calculator/Calculate",
                method: "post",
                data: $('#form0').serialize(),
                success: function (response) {
                    $('#result').html(response);
                }
            });
        }
    </script>
}

