<div id="test" class="nav navbar navbar-default navbar fixed">
  <div class="navbar-form">
    <p class="btn-group"><a id="logged-user">{{this.user.username}}</a></p>
  <p class="btn-group"><a id="login-btn" class="btn btn-md btn-primary" href="#/login" role="button">Sign in</a></p>
  <p class="btn-group"><a id="register-btn" class="btn btn-md btn-success" href="#/register" role="button">Sign up today</a></p>
  <p class="btn-group"><a id="logout-btn" class="btn btn-md btn-success" href="#/logout" role="button">Logout</a></p>
  <p class="btn-group"><a id="add-todo" class="btn  btn-md btn-primary" href="#/todos/add" role="button">Add Todo</a>
  </p>
    </div>
</div>
  <div class="container">




    {{#if this.groups}}
      <h3>Your TODOs</h3>

        {{#each this.groups}}
          <h4><a href="#/todos?category={{category}}">{{category}}</a></h4>
          <ul class="list-group col-md-12">
              {{#each todos}}
                <li class="todo-item list-group-item col-md-8" data-id="{{id}}" class="checkbox">
                    {{#if state}}
                      <label><input class="todo-state" type="checkbox" checked>{{text}}</label>
                    {{else}}
                      <label><input class="todo-state" type="checkbox">{{text}}</label>
                    {{/if}}
                </li>
              {{/each}}
          </ul>
        {{/each}}

    {{else}}
      <h3>No TODOs</h3>
    {{/if}}
  </div>

